*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.application {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
