:global *,
:global *:after,
:global *:before {
  box-sizing: border-box;
}

:global html,
:global body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
